#actor-view{
  background-color: #000000;
  padding: 0;
}
#film-view > .container > .row, #actor-view > .container > .row{
  margin-top: 30px;
}
#actor-view .fTable table{
  width: 100%;
}

#actor-view .hText{
  text-align: left;
}

.actor-view--info{
  padding: 40px 0px 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.actor-info--films---wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.actor-info--films {
  & img{
    width: 100%;
    height: auto;
    padding: 0;
  }

  & a{
    padding: 10px 0;
    color: #ffffff;
    font-style: normal;
    font-family: Montserrat;
    font-size: 14px;
    transition: color 0.2s linear;

    &::hover{
      color: $gold;
      text-decoration: none;
      transition: color 0.2s linear;
    }
  }
}
.actor-info--img{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.actor-info--img---wrap, .actor-info--img---wrap img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: auto;
}
.actor-rating{
  padding: 30px 0;
}

.like, .dislike {
  margin: 0 15px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  cursor: pointer;

  background: rgba(198, 165, 100, 0.15);
  border-radius: 20px;
  padding: 10px 25px;
}

.like i{
  color: #007700;
  padding: 0 5px;
}
.dislike i{
  color: #770000;
  padding: 0 5px;
}
.qty1, .qty2 {
  border: none;
  width:30px;
  background: transparent;
  color: rgba(245, 245, 247, 0.5);
}

#actor-view .usWrap {
  display: flex;
  padding: 25px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#actor-view .btn-comment{
  margin-top: 20px;
}
