#film-main {
  padding-top: 85px;
  & .hText {
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 36px;
  }
}

.fCardsWrap {
  display: flex;
  flex-direction: column;
}

.fCard {
  display: flex;
  max-height: 260px;
  margin-bottom: 40px;

  & .fImgCard img {
    height:260px;
    object-fit: cover;
  }

  & .fTextCard {
    background-color: $gold-card;
    padding: 40px 40px;
    color: white;
    font-family: Montserrat;

    & h5 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    & .sticker {
      font-size: 13px;
      padding: 8px 10px;
      background-color: $sticker;
      max-width: 100px;
      color: $sticker-text;
      margin-bottom: 25px;
    }

    & p:last-child {
      font-size: 16px;
    }
  }

  & :hover {
    cursor: pointer;
  }
}

.accordion {
  color: black;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;

  &:hover{
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:before {
    font-family: "Font Awesome 5 Free";
    content: '\f105';
    color: white;
    font-weight: bold;
    float: left;
    margin-right: 10px;
  }

  & .active:before {
    font-family: "Font Awesome 5 Free";
    content: '\f107';
  }
}

button.accordion {
  font-size: 18px;
  background: none;
  color: white;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
}

.accUL {
  margin-bottom: 0;
  background: white;
  list-style: none;
  z-index: 100;
  width: 100%;
  display: block;
  padding-left: 0;
  & li {
    padding-left: 10px;
    line-height: 32px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    & span.text-right {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  & li:last-child {
    border-bottom: none;
  }
}

.mtH {
  margin-top: 55px;
}

.fListWrap {
  display: flex;
  flex-direction: column;

  & .fEl {
    display: flex;
    max-height: 70px;
    margin-bottom: 30px;

    & img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 6px;
    }

    & .fElText {
      padding-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & p {
        font-family: Montserrat;
        font-size: 15px;
        margin-bottom: 0px;
        color: $grey-text;
        &:first-child {
          color: white;
        }
      }
    }
  }
}