#profile {
  padding-top: 85px;

  & .hText {
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 36px;
  }

  & > .container > .row {
    margin-top: 100px;
  }
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $gold;
  text-align: center;
  font-size: 120px;
  padding-left: 10px;
  padding-top: 5px;
}

.name {
  font-size: 20px;
  color: white;
  width: 200px;
  text-align: center;
  padding-top: 15px;
}

.tabs {
  height: 100%;
  list-style: none;
  position: relative;
  text-align: left;
  height: 50px;
  border-bottom: 1px solid $gold;

  .accUL {
    list-style: none;
    background-color: transparent;

    & li {
      width: 100%;

      & .fCard .fTextCard {
        width: 100%;
      }
    }
  }

  li {
    float: left;
    display: block;
  }
  input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: 4px;
    color: #605532;
    padding-left: 0px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .tab-content{
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    padding-left: 0px;

    & p {
      color: white;
    }
  }
  //The Magic
  [id^="tab"]:checked + label {
    top: 0;
    padding-top: 17px;
    color: $gold;
  }
  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }
}

.recommendWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .recommendFilmWrap {
    display: flex;
    flex-direction: column;

    &> img {
      max-height: 240px;
      width: auto;
    }

    &> p {
      color: white;
      font-family: Montserrat;
      font-size: 18px;
      text-align: center;
      padding-top: 8px;
    }
  }
}


