// REGISTER //
#register {
    padding:180px 0px;
    &.hText {
        margin-bottom: 25px;
    }
}

.imgAbout {
    max-width: 80%!important;
}

h4.hSubText {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: center;
    color: white!important;
    text-transform: uppercase;
    margin-bottom: 40px;
}

form.regForm {
    input {
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        background-color:rgba(0,0,0,0) !important;
        border-bottom: 2px solid white;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        color: $grey!important;
        //border:none !important;
        &:focus {
            box-shadow: none;
            border-bottom: 2px solid $gold;
        }
    }
    label.form-check-label {
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        color: $grey;
    }
    .form-check {
        margin-top: 25px;
        margin-bottom: 40px;
    }
}

.aLink {
    color: $gold;
    &:hover {
        color: $gold;
    }
}

//.aLink:hover {
//    color: $gold;
//}

.rect {
    position: absolute;
    background: $transparent-grey;
    padding: 30px 30px;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.rText {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 2px;
    color: white;
    background-color: transparent;
    text-align: left;
}

.blockCenter {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#checkRules {
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

button.btn-gold {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    background-color: $transparent-grey;
    color: white;
    padding: 10px 60px;
    border-radius: 20px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:991px) {
    .imgAbout {
        max-width: 90%!important;
    }

    h4.hSubText {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    form.regForm {
        input, label.form-check-label {
            font-size: 18px;
        }
    }
    .hText {
        font-size: 36px;
        line-height: 38px;
        margin-bottom: 50px;
    }
    button.btn-gold {
        font-size: 18px;
        line-height: 28px;
    }
    .rText {
        font-size: 20px;
        line-height: 24px;
    }
    .rect {
        padding: 20px 20px;
    }
}

@media (max-width: 768px) {
    .imgAbout, .rect {
        display: none;
    }
}

@media (max-width: 475px) {
    #register {
        padding: 35% 0px!important;
    }
    h4.hSubText {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    form.regForm {
        input, label.form-check-label {
            font-size: 16px;
        }
    }
    button.btn-gold {
        font-size: 16px;
        line-height: 24px;
    }
    .blockCenter {
        position: relative;
    }
}