$gold: #C1AB65;
$gold-placeholder: rgba(198, 165, 100, 0.7);
$gold-btn: rgba(198, 165, 100, 0.1);
$golder-btn: rgba(193, 171, 101, 0.2);
$grey: #CCCCCC;
$grey-box: #C4C4C4;
$transparent-grey: rgba(193, 171, 101, 0.2);