$gold: #C1AB65;
$gold-placeholder: rgba(198, 165, 100, 0.7);
$gold-btn: rgba(198, 165, 100, 0.1);
$golder-btn: rgba(193, 171, 101, 0.2);
$gold-card: rgba(198, 165, 100, 0.45);

$sticker: #FFE142;
$sticker-text: #1D2337;
$myyellow: #DEC33E;

$grey: #CCCCCC;
$grey-box: #C4C4C4;
$grey-text: #707070;
$transparent-grey: rgba(193, 171, 101, 0.2);

$redheart: #FB4B3B;
$brown-text: #605532;
$times: #C6A564;

$color-dark: #161616;