#header {
  background-color: #161616;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  letter-spacing: 1px;
}
#header .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 30px 10px;
  background-color: #161616;
}
#header svg{
  background-color: #161616;
}
.header-nav{
  padding: 35px 0;
  display: flex;
  justify-content: space-around;
  background-color: #161616;
}
.header-nav li{
  list-style: none;
  background-color: #161616;
}
.header-nav--item{
  font-family: "Josefin Sans",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 10px;
}
.header-nav--item:hover{
  text-decoration: none;
  color: $gold;
  transition: color 0.2s linear;
  cursor: pointer;
}
.header-nav--item---animate{
  position: absolute;
  z-index: 1;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-out;
  width: 150px;

  background-color:#161616;
  color: #fff;
  text-align: center;
}
.header-nav--item---animate li{
  padding: 8px 10px ;
  text-align: left;
}
.header-nav--item---animate a{
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
}
.header-nav--item---animate a:hover{
  color: $gold;
  text-decoration-line: none;
  transition: color 0.3;
}
.header-nav > li:hover .header-nav--item---animate{
  height: auto;
  font-size: 18px;
  padding: 12px 0;
}
.header-nav > li:hover .header-nav--item---animate >li:hover{
  color: #111;
  transition: color 0.5s linear;
}
//profile
.header-prof--wrap{
  width: 230px;
  height: 96px;
  background-color: #161616;
  display: flex;
}
.header-prof{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.profile-img{
  background-color: #C1AB65;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}
.profile-img--name{
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  font-family: "Josefin Sans";
  position: absolute;
  top: 57%;
  left: 52%;
  transform: translate(-50%, -50%);
  line-height: 15px;
}
.header-prof li{
  list-style: none;
}
.header-prof--name {
  font-style: normal;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  color: #C1AB65;
  cursor: pointer;
  transition: color 0.2s linear;
}
.header-prof--name:hover{
  color: #ffffff;
  transition: color 0.2s linear;
  text-decoration: none;
}
.header-prof--name---animate{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 70px;
  height: 0;
  overflow: hidden;
  transition: 0.2s ease-in;
  width: 230px;
  background-color:#161616;
  color: #fff;
  text-align: center;
}
.header-prof--name---animate li{
  text-align: left;
  padding: 10px 25px;
}
.header-prof--name---animate a{
  text-decoration: none;
  color: $gold;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  transition: color 0.2;
}
.header-prof--name---animate a:hover{
  color: #ffffff;
  text-decoration-line: none;
  transition: color 0.2;
}
.header-prof:hover .header-prof--name---animate{
  height: 100%;
  transition: 0.3s ease-in;
}
.header-prof > li:hover .header-prof--name---animate >li:hover{
  color: #ffffff;
  transition: color 0.4s linear;
}
//mobile
.hamburger-menu{
  display: none;
}
#content{
  display: none;
}
.search-mob--wrap{
  display: none;
}
@media (max-width: 1200px) {
  .header-nav--item{
    font-size: 14px;
  }
  .header-prof--wrap{
    width: 200px;
  }
  .header-prof--name{
    font-size: 17px;
  }
  .header-prof--name---animate{
    width: 200px;
  }
  .header-prof--name---animate a{
    font-size: 13px;
  }
  .header-prof--name---animate li{
    padding: 10px;
  }
}
@media (max-width: 995px) {
  .header-prof--wrap {
    display: none;
  }

  #header .row{
    padding: 13px 0;
    position: relative;
  }
  #header svg{
    height: 25px;
  }
  .header-nav{
    display: none;
  }
  .header-nav--item{
    display: none;
  }
  //search//
  .search-mob--wrap {
    display: block;
    position: relative;
    width: 50px;
    height: 42px;
    background-color: transparent;
    right: 75px;
    top: -8px;
  }
  .search-mob--wrap input {
    height: 42px;
    width: 0;
    padding: 0 40px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 7px;
    right: 0;
    z-index: 2;
  }
  .search-mob--wrap input:focus {
    width: 300px;
    z-index: 500;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    background-color: $color-dark;
  }

  .search-mob--wrap button {
    background-color: transparent;
    background: url(../../../public/img/sea.jpg) center no-repeat;
    border: none;
    height: 58px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 500;

    &:focus {
      outline: none;
    }
  }
  .search-mob--wrap button:before {
    content: "";
    font-family: "Josefin Sans",sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 0;
  }
//  menu
  .hamburger-menu{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: transparent;
  }
  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    background-color: #000;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 15px;
    width: 35px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    margin: 20px 10px;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
  .menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    right: -100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #000000;
    //box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #000000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0!important;
    transition-duration: .25s;
  }
  .menu-item:hover  {
    color: $gold;
    text-decoration: none;
    transition: color 0.1s linear;
  }
}
@media (max-width: 770px) {
  .search-mob--wrap input:focus{
    width: 220px;
  }
}
@media (max-width: 425px) {
  .search-mob--wrap input:focus{
    min-width:325px
  }
}

@media (max-width: 375px) {
  .search-mob--wrap input:focus{
    min-width:280px
  }
}
@media (max-width: 320px) {
  .search-mob--wrap input:focus{
    min-width:225px
  }
  .menu-item{
    font-size: 16px;
  }
  .menu-item--list{
    font-size: 16px;
  }
}
